header {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--background);
  color: var(--color);
  border-bottom: 2px solid var(--border);
  padding: 15px 20px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.logo {

  &--link {
    color: var(--color);
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;

    &__bold {
      font-weight: 600;
    }
  }
}


.version {
  display: inline-block;
  height: 34px;
  line-height: 38px;
  color: var(--color);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  opacity: .8;
  margin: 0 0 0 5px;
}
