<header>
    <div class="container">

        <a class="logo"
            routerLink="/">
            <span class="logo--link">ngx-</span>
            <span class="logo--link logo--link__light">themes</span>
        </a>

        <a class="version"
            href="https://github.com/fil0157/ngx-themes"
            target="_blank">
            v{{ config.libVersion }}
        </a>

        <a class="link"
            routerLink="/">
            Home
        </a>

        <a class="link"
            routerLink="/demo">
            Demo
        </a>

        <a class="link"
            routerLink="/docs">
            Docs
        </a>

        <a class="link"
            href="https://www.npmjs.com/package/@fil0157/ngx-themes"
            target="_blank">
            NPM
        </a>

        <a class="link"
            href="https://github.com/fil0157/ngx-themes"
            target="_blank">
            GitHub
        </a>

        <a class="link"
            (click)="themes.toggleTheme()">
        </a>

    </div>
</header>
