.container {
  flex: 1 0 auto;
}

.button {
display: flex;
height: 44px;
margin: 15px 0;
color: var(--color);
text-decoration: none;
border: 2px solid var(--border);
border-radius: 6px;
opacity: 0.8;

&:last-child {
  margin-right: 0;
}

&:hover {
  opacity: 1;
}

&--text {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1 1 100%;
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 0 16px;

  &__light {
    cursor: default;
  }
}

&--icon {
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  height: 100%;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid var(--border);
}

&__light {
  opacity: 1;
  border: none;

  > .button--text {
    justify-content: center;
    cursor: default;
  }
}
}
