<main>
  <app-header></app-header>

  <div class="container">

    <div class="button">
      <span class="button--text" (click)="themes.useTheme('lightTheme')">Использовать светлую тему</span>
    </div>

    <div class="button">
      <span class="button--text" (click)="themes.useTheme('darkTheme')">Использовать тёмную тему</span>
    </div>

    <div class="button">
      <span class="button--text" (click)="themes.useTheme('customTheme')">Использовать кастомную тему</span>
    </div>

    <div class="button button__light">
      <span class="button--text">Изменить кастомную тему</span>
    </div>

    <div class="button">
      <span class="button--text button--text__light">Изменить цвет фона</span>
      <span class="button--icon" (click)="openPopupColorPicker('background')">Изменить</span>
    </div>

    <div class="button">
      <span class="button--text button--text__light">Изменить цвет текста</span>
      <span class="button--icon" (click)="openPopupColorPicker('color')">Изменить</span>
    </div>

  </div>

  <app-footer></app-footer>
</main>

<app-popup-color-picker (onClose)="closeAll()" [changeType]="changeType"></app-popup-color-picker>
