.container {
    flex: 1 0 auto;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &--item {
        margin: 10px 0;
        display: flex;
        flex-flow: row nowrap;
    }

    &--button {
        width: 100%;
        text-align: center;
        height: 84px;
        line-height: 80px;
        padding: 0 10px;
        margin: 0 10px;
        color: var(--color);
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid var(--border);
        border-radius: 10px;
        opacity: .8;
        transition: .25s;
        
        &:hover {
            background: #ffffff50;
            opacity: 1;
        }

        &__light {
            opacity: 1;
            border: none;
            cursor: default;
        }
    }
}
