<router-outlet></router-outlet>

<span>Реадизация тем на сайте</span>

<button ngxThemes (click)="chengeTheme('darkTheme')">Темная тема</button>
<button ngxThemes (click)="chengeTheme('lightTheme')">Светлая тема</button>
<button ngxThemes (click)="chengeTheme('blueTheme')">Синяя тема</button>
<button ngxThemes (click)="toggleTheme()">Сменить тему</button>
<button ngxThemes (click)="clickDefaultTheme()">Дефолтная тема</button>
<button ngxThemes (click)="clickRemoveTheme()">Удалить дефолтную тему</button>
