div.popup(
  @popup,
  *ngIf="changeType")

  div.line

  div.preview([ngStyle]="previewStyle")

  hex-color-picker(
    [color]="initColor",
    (onColorChanged)="changeColor($event)")

  div.buttons
    div.button((click)="close()") Закрыть
    div.button((click)="apply()") Применить
