<main>

    <app-header></app-header>

    <div class="container">

        <div class="preview">
            <div class="title">@fil0157/ngx-themes</div>
            <div class="description">Angular module for creating themes in angular applications using native css variables</div>
            <div class="author">Author: <a href="https://github.com/fil0157" target="_blank">@fil0157</a></div>
        </div>

        <div class="block">
            <div class="block--item">
                <div class="block--button" (click)="ngxThemes.toggleTheme()">Toggle theme</div>
            </div>
            <div class="block--item">
                <div class="block--button" (click)="ngxThemes.useTheme('lightTheme')">Light theme</div>
                <div class="block--button" (click)="ngxThemes.useTheme('darkTheme')">Dark theme</div>
            </div>
            <div class="block--item">
                <div class="block--button" routerLink="demo">More demo</div>
            </div>
        </div>

        <div class="block">
            <div class="block--item">
                <a class="block--button"
                    href="https://github.com/fil0157/ngx-themes"
                    target="_blank">
                    Git Hub
                </a>
                <a class="block--button"
                    href="https://www.npmjs.com/package/@fil0157/ngx-themes"
                    target="_blank">
                    NPM
                </a>
            </div>
        </div>

        <div class="block">
            <a class="block--item">
                <div class="block--button" routerLink="/docs">Docs</div>
            </a>
        </div>

    </div>

    <app-footer></app-footer>

</main>
