<a class="item"
    routerLink="/docs"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <!-- <span class="title">Introduction</span> -->
    <span class="title">Введение</span>
    <!-- <span class="description">A quick spane into <code>@fil0157/ngx-themes</code></span> -->
    <span class="description">Быстрое введение в <code>@fil0157/ngx-themes</code></span>
</a>

<a class="item"
    routerLink="/docs/start"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <!-- <span class="title">Getting started</span> -->
    <span class="title">Для начала</span>
    <!-- <span class="description">How to start things right</span> -->
    <span class="description">Начни правильно</span>
</a>

<a class="item"
    routerLink="/docs/config"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <!-- <span class="title">Config</span> -->
    <span class="title">Конфигурация</span>
    <!-- <span class="description">Miscellaneous things you need to know...</span> -->
    <span class="description">Настрой модуль под себя</span>
</a>

<a class="item"
    routerLink="/docs/api"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <!-- <span class="title">API</span> -->
    <span class="title">API</span>
    <!-- <span class="description">List of available methods</span> -->
    <span class="description">Список доступных методов</span>
</a>

<a class="item"
    routerLink="/docs/faq"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <!-- <span class="title">F.A.Q.</span> -->
    <span class="title">F.A.Q.</span>
    <!-- <span class="description">Miscellaneous things you need to know...</span> -->
    <span class="description">Наиболее частые вопросы</span>
</a>



<!-- <span class="item--list">
    <a class="link"
        routerLink="/"
        fragment="">
        Installation
    </a>
    <a class="link"
        routerLink="/"
        fragment="">
        Manipulate modals
    </a>
    <a class="link"
        routerLink="/"
        fragment="">
        Manipulate data
    </a>
</span> -->
