<a class="item"
    routerLink="/docs"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Introduction</span>
    <span class="description">A quick spane into ngx-themes</span>
</a>

<a class="item"
    routerLink="/docs/start"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Getting started</span>
    <span class="description">How to start things right</span>
    <!-- <span class="item--list">
        <a class="link"
            routerLink="/"
            fragment="">
            Installation
        </a>
        <a class="link"
            routerLink="/"
            fragment="">
            Manipulate modals
        </a>
        <a class="link"
            routerLink="/"
            fragment="">
            Manipulate data
        </a>
    </span> -->
</a>

<a class="item"
    routerLink="/"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">API</span>
    <span class="description">List of available methods</span>
    <!-- <span class="item--list">
        <a class="link"
            routerLink="/"
            fragment="">
            Installation
        </a>
        <a class="link"
            routerLink="/"
            fragment="">
            Manipulate modals
        </a>
        <a class="link"
            routerLink="/"
            fragment="">
            Manipulate data
        </a>
    </span> -->
</a>

<a class="item"
    routerLink="/"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Options</span>
    <span class="description">List of available options</span>
</a>

<a class="item"
    routerLink="/"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Events</span>
    <span class="description">List of available events and how to handle them</span>
</a>

<a class="item"
    routerLink="/"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Style & customization</span>
    <span class="description">How to make ngx-smart-modal fit your needs</span>
</a>

<a class="item"
    routerLink="/"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="item__active">
    <span class="title">Misc</span>
    <span class="description">Miscellaneous things you need to know...</span>
</a>
