@charset 'UTF-8';

@import 'normalize.css';

@import './app/styles/fonts';



* {
    font-family: RobotoRegular;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
}